* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}







/* General Styling */

.wrapper {
    min-height: 100vh;
}

body {
    font-family: Poppins, Tahoma, Geneva, Verdana, sans-serifs;
    background-color: whitesmoke;
}

img, video {
    max-width: 100%;;
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
}

h4{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Header styling */

.header__mobile {
    display: none;
}

.header__desktop {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: black solid 1px;
    position: fixed;
    background-color:white;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 32px;
}

.menu {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.notblack {
    color: black;
    font-weight: lighter;
    transition: all 250ms ease-in;
    border-radius: 25px;
    padding: 0 0.7rem;
}

.menu a:hover {
    background-color: black;
    color: whitesmoke;
    padding: 0.7rem;
}

.menu a:active {
  background-color: navy;
  transition-property: background;
  transition-duration: 0s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.black {
    background-color: navy;
    color: whitesmoke;
    border-radius: 25px;
    padding: 0.7rem;
    transition: all 200ms ease-in;
}

/* Banner Styling */

.banner {
    padding: 6rem 0 2rem 1.5rem;
    background-color:rgb(201, 203, 208);
    /* display: flex;
    width: 100%; */
}

.banner__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.banner__container img {
    flex: 1 0 60%;
    /* flex: 0 0 60%;
    height: 100%;  */
    border-radius: 20px;
    overflow: hidden;
}


.banner__text {
    /* flex: 1 1 40%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding: 0 2rem;
}

.banner__text h4 {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

button {
    align-self: center;
    background-color: black
}

button a {
    padding: 0.5rem 6rem;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: background-color 200ms ease-in;
}

button a:hover {
    background-color: navy;
    color: white;
}

/* Posts Styling */

.post-mobile {
    display: none;
}

.posts {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    padding: 32px 0 32px 24px;
    align-items: stretch;
}

.main__container {
    flex: 0 0 60%;
    padding-right: 1.5rem;
}

.side__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: blue;
    justify-content: flex-start;
}

.side {
    display: flex;
    /* justify-content: flex-start; */
    width: 100%;
    height: auto;
    
}

.side__img {
    width: 35%;
    /* padding: 0rem 1rem 1rem 1rem; */
}

post-3__container {

}

/* .post-1__container .side__img {
    padding-top: 0;
} */

.side__text {
    align-sef: center;
}

/* .post-big__img__container {
    width: 100%;
}

.post-big__img__container img {
    width: 100%;
    object-fit: cover;
} */