* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea,
a {
    font-family: inherit;
    color: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* General Styling */

.wrapper {
    min-height: 100vh;
}

body {
    font-family: Poppins, Tahoma, Geneva, Verdana, sans-serifs;
    background-color: #fffbeb;
}

img,
video {
    max-width: 100%;
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Header styling */

.header__mobile {
    display: none;
}

.header__desktop {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: black solid 1px;
    position: fixed;
    background-color: #fffbeb;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 32px;
}

.menu {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.notblack {
    color: black;
    font-weight: lighter;
    transition: all 250ms ease-in;
    border-radius: 25px;
    padding: 0 0.7rem;
}

.menu a:hover {
    background-color: black;
    color: whitesmoke;
    padding: 0.7rem;
}

.menu a:active {
    background-color: #263159;
    transition-property: background;
    transition-duration: 0s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.black {
    background-color: #263159;
    color: whitesmoke;
    border-radius: 25px;
    padding: 0.7rem;
    transition: all 200ms ease-in;
}

/* Banner Styling */

.banner {
    padding: 6rem 0 2rem 1.5rem;
    background-color: #495579;
    /* display: flex;
    width: 100%; */
    display: flex;
    min-height: 100vh;
}

.banner__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.banner__container img {
    flex: 1 0 60%;
    height: 100%;  
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.banner__text {
    /* flex: 1 1 40%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding: 0 2rem;
    color: #fffbeb;
}

.banner__text h4 {
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
}

.banner__text .button {
    align-self: center;
}

.banner__text .button a {
    padding: 1rem 6rem;
    background-color: #263159;
    color: #fffbeb;
    font-size: 1.1rem;
    border-radius: 20px;
    transition: all 200ms ease-in;
    cursor: pointer;
    text-align: center;
    box-shadow: 0.2px 0.2px 0.3px hsl(228deg 33% 13% / 0.25),
        0.7px 0.8px 1.3px -0.6px hsl(228deg 33% 13% / 0.29),
        1.6px 2px 3.1px -1.3px hsl(228deg 33% 13% / 0.32),
        3.8px 4.5px 7.1px -1.9px hsl(228deg 33% 13% / 0.36);
}

.banner__text .button a:hover {
    background-color: #fffbeb;
    color: #495579;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1.25rem 7rem;
    box-shadow: 0.2px 0.2px 0.3px hsl(228deg 33% 13% / 0.23),
        1.2px 1.5px 2.3px -0.3px hsl(228deg 33% 13% / 0.25),
        2.3px 2.7px 4.3px -0.6px hsl(228deg 33% 13% / 0.27),
        3.6px 4.3px 6.8px -0.8px hsl(228deg 33% 13% / 0.28),
        5.5px 6.6px 10.4px -1.1px hsl(228deg 33% 13% / 0.3),
        8.3px 10px 15.7px -1.4px hsl(228deg 33% 13% / 0.32),
        12.3px 14.8px 23.2px -1.7px hsl(228deg 33% 13% / 0.33),
        17.9px 21.5px 33.8px -1.9px hsl(228deg 33% 13% / 0.35);
}

.banner__text .button a:active {
    color: #fffbeb;
    background-color: #263159;
    transition-property: background, color;
    transition-duration: 0s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

/* Posts Styling */

.post-mobile {
    display: none;
}

.container {
    display: flex;
    align-items: flex-start;
    color: #263159;
}

.main__post {
    width: 60%;
    margin: 2rem 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.main__post img {
    width: 100%;
}

.side__posts {
    display: flex;
    width: 40%;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    padding-top: 1rem;
}

.side__post {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}

.side__post:hover {
    color: #fffbeb;
    background-color: #495579;
    padding: 0.5rem 0 0.5rem 0;
    cursor: pointer;
}

.post__img {
    width: 35%;
    margin: 1rem;
}

.main__text h2 {
    padding: 1rem 0;
}

.main__text h5 {
    padding-top: 2rem;
    font-weight: bold;
}

.post__text p {
    margin: 0.8rem 0;
}

.post__text {
    padding-right: 2rem;
}

.post__text a {
    background-color: #251749;
    padding: 5px;
    color: #fffbeb;
    font-size: 80%;
    transition: all 250ms ease-in;
    display: block;
    text-align: center;
    width: 5rem;
    border-radius: 5px;
}

.post__text a:hover {
    background-color: #fffbeb;
    color: #251749;
}

/* Course Styling */

.course-mobile {
    display: none;
}

.courses {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #495579;
    color: #fffbeb;
}

.courses h2 {
    padding-top: 2rem;
}

.courses__container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 30.5%);
    padding: 32px 72px;
    gap: 2rem;
    justify-content: center;
}

.course__container {
    background-color: #fffbeb;
    color: #263159;
    border: 2px solid #fffbeb;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.course__container:hover {
    box-shadow: 0.2px 0.2px 0.3px hsl(228deg 33% 13% / 0.23),
        1.2px 1.5px 2.3px -0.3px hsl(228deg 33% 13% / 0.25),
        2.3px 2.7px 4.3px -0.6px hsl(228deg 33% 13% / 0.27),
        3.6px 4.3px 6.8px -0.8px hsl(228deg 33% 13% / 0.28),
        5.5px 6.6px 10.4px -1.1px hsl(228deg 33% 13% / 0.3),
        8.3px 10px 15.7px -1.4px hsl(228deg 33% 13% / 0.32),
        12.3px 14.8px 23.2px -1.7px hsl(228deg 33% 13% / 0.33),
        17.9px 21.5px 33.8px -1.9px hsl(228deg 33% 13% / 0.35);
    transform: translate(-5px, -5px);
}

.course__text__container {
    padding: 1rem;
}

.course__img__container img {
    width: 100%;
}

.p-big {
    font-weight: 100;
    font-size: 120%;
    margin: 1rem 0;
}

/* Thesis Styles */

.thesis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thesis h2 {
    padding-top: 2rem;
}

.main__post h4 {
    padding: 1.5rem 0 1rem 0;
}

.thesis__text__container p {
    margin: 0 !important;
}

/* footer styling */

footer {
    background-color: #263159;
    display: flex;
    height: 6rem;
    align-items: center;
    justify-content: space-between;
    color: #bab7ad;
    padding: 0 2rem;
}

.footer ul {
    display: flex;
    gap: 1rem;
}

/* Media Queris */

@media only screen and (max-width: 840px) {

/* Header Media Queries */

.header__desktop {
    display: none;
}

.header__mobile {
    display: block;
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fffbeb;
    z-index: 999;
}

.icons__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__mobile__link img {
    width: 2rem;
}

/* Banner Media Queris */

.banner {
    padding: 64px 0 2rem 0;
    min-height: auto;
}

.banner__container {
    flex-direction: column;
}

.banner__container img {
    height: auto;
    width: 100%;
    border-radius: 0px;
    object-fit: cover;
    flex: 1 0 50%;
}

.banner__text {
    flex: 1 1 auto;
    display: contents;
    width: 100% !important;
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
}

.banner__text h2 {
    font-size: 2rem;
    padding-top: 1rem;
}

.banner__text h4 {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    align-items: center;
    justify-content: center;
}

.button {
    width: 50%;
}

.banner__text .button a {
    padding: 1rem 10%;
    transition: none;
    width: 100%;
}

.banner__text .button a:hover {
    padding: 1rem 10%;
    font-weight: normal;
    font-size: 1.1rem;
}

.container {
    display: contents;
}

.main__post {
    display: none;
}

.side__posts {
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
    gap: 3rem;
}

.post__img {
    display: none;
}

.post-mobile {
    display: block;
    width: 100%;
}

.side__post {
    flex-direction: column;
    align-items: flex-start;
}

.post__text {
    padding: 1rem 0 0 1rem;
}

.side__post:hover {
    color: #263159;
    background-color: #fffbeb;
    padding: 0;
    cursor: pointer;
    transform: scale(0.95);
}

}

@media only screen and (max-width: 1100px) {

.banner__container img {
    flex: 1 0 50%;
}

    .banner__text {
        width: 50%;
    }

}
    
